entrypoint = "main.py"
modules = ["python-3.11"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full"]

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "fuser -k 5000/tcp 2>/dev/null; sleep 0.5; gunicorn --workers 1 --threads 64 --timeout 0 --bind 0.0.0.0:5000 --reuse-port main:app"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[userenv]

[userenv.shared]
ADMIN_ACCOUNTS = "{\"sergey_defa\":\"Ser123asd\",\"Blackjack\":\"Sergey\"}"
SMTP_PASSWORD = "mCSU8cQAtk36R0Kttg8I"
SMTP_USER = "pixelmind@defa-company.ru"
